<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.api.base.dao.UserMapper">
  <resultMap id="BaseResultMap" type="com.api.base.model.User">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="mobile_number" jdbcType="VARCHAR" property="mobileNumber" />
    <result column="gender" jdbcType="TINYINT" property="gender" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="latest_login_time" jdbcType="TIMESTAMP" property="latestLoginTime" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="nickname" jdbcType="VARCHAR" property="nickname" />
    <result column="avatar" jdbcType="VARCHAR" property="avatar" />
    <result column="enable" jdbcType="TINYINT" property="enable" />
    <result column="type" jdbcType="TINYINT" property="type" />
    <result column="openid" jdbcType="VARCHAR" property="openid" />
  </resultMap>
  <select id="deleteRoleById" parameterType="java.lang.Long">
    DELETE FROM sys_user_role WHERE user_id = #{userId}
  </select>
</mapper>