<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.api.base.dao.UserMapper">
  <resultMap id="BaseResultMap" type="com.api.model.SysUser">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="info_mobile_number" jdbcType="VARCHAR" property="infoMobileNumber" />
    <result column="info_gender" jdbcType="TINYINT" property="infoGender" />
    <result column="info_email" jdbcType="VARCHAR" property="infoEmail" />
    <result column="info_latest_login_time" jdbcType="TIMESTAMP" property="infoLatestLoginTime" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="enable" jdbcType="TINYINT" property="enable" />
    <result column="type" jdbcType="TINYINT" property="type" />
    <result column="openid" jdbcType="VARCHAR" property="openid" />
  </resultMap>
  <select id="deleteRoleById" parameterType="java.lang.Long">
    DELETE FROM user_role WHERE user_id = #{userId}
  </select>
</mapper>